name: Build and commit ptcs_ui

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'ptcs/ptcs_ui/**'
      - 'ptcs/package-lock.json'
      - 'ptcs/package.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'ptcs'
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - run: npm ci
      - run: npm run ui:build

      - name: Add and commit
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
